<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="tbsAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="tbs.log" />
		<param name="DatePattern" value="'-'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %C{6} (%F:%L) - %m%n" />
		</layout>  
	</appender>
	
     <logger name="com.zcwyx" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="tbsAppender" />
	</logger> 
	
	<logger name="root" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="tbsAppender" />
	</logger>
</log4j:configuration>
